body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-image: url(invoice.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  form {
    max-width: 600px;
    margin: 0 auto 20px;
    padding: 20px;
    /* background-color: #fff; */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  form input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  form button {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #0056b3;
  }
  
  table {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    border-collapse: collapse;
    /* background-color: #fff; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  table th, table td {
    padding: 12px;
    border: 1px solid #ccc;
    text-align: left;
  }
  
  table th {
    background-color: #007bff;
    color: #fff;
  }
  
  /* table tbody tr:nth-child(even) {
    background-color: ;
  } */
  
  table tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  table button {
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  table button.edit {
    background-color: #28a745;
    color: #fff;
  }
  
  table button.edit:hover {
    background-color: #218838;
  }
  
  table button.delete {
    background-color: #dc3545;
    color: #fff;
  }
  
  table button.delete:hover {
    background-color: #c82333;
  }